{% extends "layouts/main.html" %}


{% block content %}
<div class="container">
  <div class="row">
    <h1>Create</h1>
  </div>
  <div class="row">
    <form action="/employees/create" method="POST">
      <div class="row">
        <div class="six columns">
          <label for="surnameInput">surname</label>
          <input class="u-full-width" type="text" placeholder="surname" id="surnameInput" name="surnameInput">
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="lastnameInput">lastname</label>
          <input class="u-full-width" type="text" placeholder="lastname" id="lastnameInput" name="lastnameInput">
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="saleryInput">salery</label>
          <input class="u-full-width" type="number" placeholder="salery" id="saleryInput" name="saleryInput">
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="departmentInput">department</label>
          <input class="u-full-width" type="text" placeholder="department" id="departmentInput" name="departmentInput">
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <div class="formbutton">
            <input class="button-primary" type="submit" value="Submit">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
